<div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-11 col-xl-10 align-self-center">
        <!-- Banner for supporters -->
        <div class="banner mt-5 mb-3 p-3" id="NotificationsSubscribe">
            <h2>Подпишись на уведомления о событиях<br/>сервера Sunfox.ee! &#x1F447;</h2>
            <p>Уведомления приходит за час до ивента &mdash; Ты не упустишь самое интересное</p>
            <a href="#" class="btn btn-primary btn-lg float-end" role="button" data-bs-toggle="button" aria-pressed="false" onclick="return false;">Хочу получать уведомления!</a>
        </div>
    </div>
</div>

<div class="row"><div class="col pb-2 pt-4">
    <div class="alert alert-light alert-integrations" role="alert">
        <div class="row gy-2">
            <div class="col-12 col-md-6 col-lg-3 col-xl-3">
                <h4 class="alert-heading mb-0 mt-2">Мои интеграции Bifröst Connect:</h4>
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-xl-2">
                <a href="" class="btn btn-outline-secondary"><i class="bi bi-steam"></i>&nbsp;Steam</a>
                <a href="" class="btn btn-outline-secondary"><i class="bi bi-xbox"></i>&nbsp;XBOX</a>
            </div>
            <div class="col-12 col-lg-6 col-xl-5">Bifröst Connect помогает участникам подключаться к игровым лобби друг друга и игровым серверам сообщества.</div>
        </div>
    </div>
</div></div>