<div class="joinus" id="anchor_joinus"><div class="container">
       <div class="row"><div class="col-lg-12"><div class="row"><div class="col-xs-12 col-sm-offset-1 col-sm-10 col-lg-offset-2 col-lg-8">
        <p class="text-center"><big>{{ @joinus_intro | raw }}</big></p>
        </div></div><div class="row"><div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-7 col-lg-offset-0">
        <h2>{{ @joinus_step1_title | raw }}</h2>
        <p><big>{{ @joinus_step1_lead | raw }}</big></p>
        <p>{{ @joinus_step1_text1 | raw }}</p>
            </div><div class="col-xs-12 col-lg-4" style="  display:flex;align-items:center;justify-content:center;"><div class="parents_file_download"><p><big>{{ @joinus_step1_text2 | raw }}</big><br/>{{ @joinus_step1_text3 | raw }}</p></div></div>
        </div><div class="row"><div class="hidden-xs hidden-sm hidden-md col-lg-5 calendar calendar_live">

        <include href="joinus/events.htm"/>
        
        </div><div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-7 col-lg-offset-0"><h2>{{ @joinus_step2_title | raw }}</h2>
        <p><big>{{ @joinus_step2_lead | raw }}</big></p>
        <p>{{ @joinus_step2_text1 | raw }}</p>
        <p><span class="glyphicon glyphicon-hand-right"></span>&nbsp;{{ @joinus_step2_text2 | raw }} {{ @joinus_step2_text3 | raw }}</p>
        </div><div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 hidden-lg calendar calendar_live">

        <include href="joinus/events.htm"/>
            
        </div></div><div class="row eurocoins"><div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-7 col-lg-offset-0">
        <h2>{{ @joinus_step3_title | raw }}</h2>
        <p><big>{{ @joinus_step3_lead | raw }}</big></p>
        <p>{{ @joinus_step3_text1 | raw }}</p>
        </div></div><div class="row"><div class="col-xs-12 col-sm-offset-1 col-sm-10 col-lg-offset-2 col-lg-8">
        <p class="text-center"><big>{{ @joinus_conclusion | raw }}</big></p>
    </div></div></div></div>
</div></div>

<div class="modal fade event_go_auth" tabindex="-1" role="dialog" id="ModalEventAuth">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
        
    </div>
  </div>
</div>