/** Freyfaxi advertisement block CSS **/
@import 'https://fonts.googleapis.com/css?family=Princess+Sofia';

div.freyfaxi{
  height: 470px;
  position: relative;
  left: 50%;
  margin-bottom: 10px;
}
div.freyfaxi_video{
    position: absolute;
}
div.freyfaxi_video{
  	top:0;
  	height: 470px;
  	width:1170px;
  	overflow: hidden;
}
div.freyfaxi video{
  position: absolute;
  z-index: 0;
}

div.freyfaxi>div.container{
  height: 470px;
  box-shadow: 0 0 5px #000;
  margin-left: 0px;
}

div.freyfaxi>div.container h1{font-family: 'Princess Sofia', cursive;color: #fff; font-size:75px; text-align: center; display: block; line-height: 110px;margin-top: 210px!important;}
div.freyfaxi>div.container h1>small{font-family:Mezzo Regular;color: #fff; font-size:18px; line-height: 24px font-weight:100; text-align: center; display: block;}
div.freyfaxi>div.container h2{font-family:Mezzo Regular;color: #fff; font-size:21px; line-height: 30px font-weight:100; text-align: center; display: block; margin-top: 36px;}
div.freyfaxi>div.container h3{font-family:Mezzo Regular;color: #fff; font-size:18px; line-height: 26px font-weight:100; text-align: center; display: block;}
div.freyfaxi>div.container p {display:block;clear:both;text-align:center; margin-top: 16px;}}

@media (max-width: 750px) {

}

@media (min-width: 750px) {

}

@media (min-width: 992px) {
  div.freyfaxi{
    margin-left: -485px; /* Отступ слева */
    width: 970px;
  }
  div.freyfaxi video{
    width: 970px;
  }
  div.freyfaxi>div.container h3{
    margin-top: 330px;
  }
}

@media (min-width: 1200px) {
  div.freyfaxi{
    margin-left: -585px; /* Отступ слева */
    width: 1170px;
  }
  div.freyfaxi video{
    width: 1170px;
  }
  div.freyfaxi>div.container h3{
    margin-top: 355px;
  }
}
