@font-face {font-family:Mezzo Bold;src: url(../fonts/mezzo_bd.otf);src: local(Mezzo), url(../fonts/mezzo_bd.otf);}
@font-face {font-family:Mezzo Regular;src: url(../fonts/mezzo_rg.otf);src: local(Mezzo), url(../fonts/mezzo_rg.otf);}
body {
    background-image: url('/resources/img/profile/bg_signin.jpg');
    background-size: contain;     
    background-position: center center;
    background-repeat: no-repeat;
}

.btn-discord {
    --bs-btn-color: #fff;
    --bs-btn-bg: #5b6eb0;
    --bs-btn-border-color: #51629c;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #51629c;
    --bs-btn-hover-border-color: #445282;
    --bs-btn-focus-shadow-rgb: 81, 98, 165;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #3d4975;
    --bs-btn-active-border-color: #28314e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #7289DA;
    --bs-btn-disabled-border-color: #51629c;
}




@media screen and (701px < width < 760px){

}
@media screen and (width <700px){

}