/*
Viruviking main style CSS
Author: Victor Litvinkov
*/
@font-face {font-family:Mezzo Bold;src: url(../fonts/mezzo_bd.otf);src: local(Mezzo), url(../fonts/mezzo_bd.otf);}
@font-face {font-family:Mezzo Regular;src: url(../fonts/mezzo_rg.otf);src: local(Mezzo), url(../fonts/mezzo_rg.otf);}
body{
	font-family:Lucida Sans Unicode, Lucida Grande, sans-serif;
}
