/*
Viruviking main style CSS
Author: Victor Litvinkov
*/
@font-face {font-family:Mezzo Bold;src: url(../fonts/mezzo_bd.otf);src: local(Mezzo), url(../fonts/mezzo_bd.otf);}
@font-face {font-family:Mezzo Regular;src: url(../fonts/mezzo_rg.otf);src: local(Mezzo), url(../fonts/mezzo_rg.otf);}
body{
	font-family:Lucida Sans Unicode, Lucida Grande, sans-serif;background: #212121 url(../img/background_500.png) repeat center;
}
h1, h2, h3, h4, h5, h6 {font-family:Mezzo Regular;color:#DACA97;font-weight:100;}
p, ul{line-height:18px;}

nav>div.container_3, footer{background: -moz-linear-gradient(left, rgba(33,33,33,0) 0%, rgba(33,33,33,0.15) 1%, rgba(33,33,33,0.5) 5%, rgba(33,33,33,0.5) 95%, rgba(33,33,33,0.15) 99%, rgba(33,33,33,0) 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(33,33,33,0)), color-stop(1%,rgba(33,33,33,0.15)), color-stop(5%,rgba(33,33,33,0.5)), color-stop(95%,rgba(33,33,33,0.5)), color-stop(99%,rgba(33,33,33,0.15)), color-stop(100%,rgba(33,33,33,0))); background: -webkit-linear-gradient(left, rgba(33,33,33,0) 0%,rgba(33,33,33,0.15) 1%,rgba(33,33,33,0.5) 5%,rgba(33,33,33,0.5) 95%,rgba(33,33,33,0.15) 99%,rgba(33,33,33,0) 100%); background: -o-linear-gradient(left, rgba(33,33,33,0) 0%,rgba(33,33,33,0.15) 1%,rgba(33,33,33,0.5) 5%,rgba(33,33,33,0.5) 95%,rgba(33,33,33,0.15) 99%,rgba(33,33,33,0) 100%); background: -ms-linear-gradient(left, rgba(33,33,33,0) 0%,rgba(33,33,33,0.15) 1%,rgba(33,33,33,0.5) 5%,rgba(33,33,33,0.5) 95%,rgba(33,33,33,0.15) 99%,rgba(33,33,33,0) 100%); background: linear-gradient(to right, rgba(33,33,33,0) 0%,rgba(33,33,33,0.15) 1%,rgba(33,33,33,0.5) 5%,rgba(33,33,33,0.5) 95%,rgba(33,33,33,0.15) 99%,rgba(33,33,33,0) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00212121', endColorstr='#00212121',GradientType=1 ); color:#A6A6A6;}
nav small {display:block;color:#A6A6A6;}
nav ul{padding-left: 0;list-style: none;}
nav div.grid_1:first-child h1, nav div.grid_1:first-child ul {margin-left:95px;}
nav a, footer a{color:#718ACA;}
nav a:hover, footer a:hover{text-decoration:none;}
footer p.imprint{font-style: italic; color: #666;}
footer span.delimiter {background: repeating-linear-gradient(90deg, #666, #666 2px, transparent 2px, transparent 6px);display: block;width:75px;height: 5px; margin: 25px 0px 10px;}
main div.intro{color:#A6A6A6;text-shadow: 0px 1px 1px #020F25}
main div.intro p[class^="summary-"]{color:#DACA97;font-family:Mezzo Regular;}


form{background:rgba(67,89,67,0.25); color: #607F60; border-radius:3px; padding: 0 10px 10px;}
form>fieldset:first-child>legend{border-bottom:solid 1px #8FBF8F;margin-top:5px;line-height:35px;font-size:19px}
form>fieldset>legend{color:#8FBF8F;margin-top:10px; margin-bottom:15px;line-height:35px;border-bottom:dotted 1px #8FBF8F;line-height:30px;font-size:17px; font-family:Mezzo Regular;}
form input, form textarea, form select, form .uneditable-input{border: 2px solid #607F60; border-radius:3px}
form textarea{resize: vertical;}
form input:focus, form textarea:focus, form select:focus {border: 2px solid white; box-shadow:none;}
form label {color:#86B286;}
form .help-block {color:#607F60;font-style: italic;line-height:19px;margin-top:0px}
form button[type="submit"]{border:2px solid #607F60;color:#263326; margin-top:10px;}
form button[type="submit"]:hover{box-shadow:0 0 7px rgba(38,51,38,1);}
form button[type="submit"]:focus{border:2px solid transparent; background:#fff;}

@media screen and (max-width: 1920px) {
	body{font-size:13px;}
	nav>div.container_3{padding:3px 0px 10px;}
 	nav div.grid_1:first-child {background: url(../img/logo/virvik_logo_small.png) no-repeat 6px 15px;}
	nav h1{font-size:24px;}
	nav h2{font-size:22px;}
 	nav small {font-size:16px;line-height:19px;margin-top:4px;}
	main div.intro{background: url(../img/intro_bg_1900_1.jpg) no-repeat top center;height:650px;}
	main div.intro p.summary-main{font-size:19px;line-height:24px;}
	main div.intro p.summary-add{font-size:17px;line-height:22px;}
}

@media screen and (max-width: 1366px) {
	body{font-size:12px;}
	nav>div.container_3{padding:3px 0px 6px;}
 nav div.grid_1:first-child {background: url(../img/logo/virvik_logo_small.png) no-repeat 5px 11px;}
	nav h1{font-size:19px;}
	nav h2{font-size:17px;}
	nav small {font-size:14px;line-height:18px;margin-top:5px;}
}
