<div class="container vv_youtube hidden-xs">
  <div class="row">
    <div class="col-xs-12 col-md-3 col-lg-3">
      <h2>Истории Викингов Вирумаа</h2>
      <p class="hidden-md">Короткие видеоистории о жизни нашего сообщества. В них мы рассказываем о Викингах, и о том, как организована деятельность других подобных клубов в Эстонии.</p>
      <ul>
        <repeat group="{{ @yt_playlist }}" value="{{ @v }}">
        <li style="background-image:url('{{@v.video_img}}');" >
          <a href="#anchor_player" onclick="Video2Player('{{@v.video_id}}');">{{@v.video_title}}<small>{{@v.video_date}}</small></a>      
        </li>
        </repeat>
      </ul>
      <p class="text-center"><a class="btn btn-social btn-youtube" href="https://www.youtube.com/c/ViruvikingClub/featured" target="_blank"><span class="fa fa-youtube-play"></span>Подписаться на канал</a></p>
    </div>
    <div class="col-xs-12 col-md-9 col-lg-9" id="anchor_player">
      <iframe src="https://www.youtube.com/embed/VYnLWmnazzI?showinfo=0&rel=0&controls=0&modestbranding=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen id="YtPlayer"></iframe>
    </div>
  </div>
</div>
<script>
function Video2Player(id) {
  document.getElementById("YtPlayer").src = "https://www.youtube.com/embed/"+id+"?&autoplay=1&showinfo=0&rel=0&controls=0&modestbranding=1"
}
</script>