<!DOCTYPE HTML>
<html lang="{{ @user_lang }}">
    <!-- head -->
    <include href="blocks/head.htm"/>
    <body>
    <include href="blocks/navigation.htm"/>
    <include href="blocks/header.htm"/>
    
    <include href="viruviking/intro.htm"/>


    <include href="viruviking/youtube.htm"/> 

    <div class="container" id="ratings_n_join">
        <div class="row"><div class="col-xs-12 col-md-6">
            <include href="ratings/main.htm" />
        </div>            
        <div class="col-xs-12 col-md-6">    
            <include href="joinus/main.htm"/>
        </div>
        </div>
    </div>      
    
    <include href="blocks/footer.htm"/>
    
    </body>
    <include href="blocks/foot.htm"/>    
</html>
