<!DOCTYPE HTML>
<html lang="{{ @user_lang }}">
    <!-- head -->
    <include href="blocks/head.htm"/>
    <body>
    <include href="blocks/navigation.htm"/>
    <include href="blocks/header.htm"/>
    
    <include href="animeet/intro.htm"/>
    <include href="viruviking/intro.htm"/>
    
    <div class="container">
        <div class="row">            
            <include href="ratings/main.htm" />
            <include href="events/extended.htm" />
        </div>
    </div>
    
    
    <include href="einherjar/intro.htm"/>
        
    <include href="joinus/main.htm"/>
    
    <include href="blocks/footer.htm"/>
    
    </body>
    <include href="blocks/foot.htm"/>    
</html>
